<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body id="aboutbody">

    <% include ./partials/header %>

    <section class="container">

        <h1>About</h1>

        <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="images/rental.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">RENT ON A HIGHER LEVEL<i class="material-icons right">History
      </i></span>
      <p><a href="#">http://localhost:3000/about</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Rent-A-Car<i class="material-icons right">close</i></span>
      <p class="bear">From exotic sports cars to luxury sedans and SUVs, the Rent-A-Car
        Collection features one of the largest selections of
        exotic and premium luxury vehicles from manufacturers around the world
        including Ferrari, Maserati, Porsche, Bentley, Range Rover and more.
        With more than 8 hour's of experience as a leader in car rental,
         Rent-A-Car is an internationally recognized brand with neighborhood
         and airport locations around the world.</p>



    </section>

    <% include ./partials/footer %>

  </body>
</html>
