<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <% include ./partials/header %>

    <section class="container">

        <h1>Agreement</h1>
      <div class="row">
        <div class="col s12 m12">
          <div class="card-panel #ffffff white">
            <span class="black-text">The Owner hereby agrees to rent the following vehicle to the Renter:

{Car Make, Model, Year,}

The Renter will rent the car from today.

The Renter agrees to pay a base fee of $50 plus $5 per mile over mileage used.

The Renter agrees to return the vehicle in its current condition (minus normal road wear-and-tear) to the Owner on the return date and hour, with a full tank of gas. The Renter is also free to turn the vehicle in at other approved locations.

The Renter understands that the vehicle is for use only in approved locations and cannot be taken other locations.

The Renter swears and attests that {he/she} has a legal, valid license to drive this type of vehicle in this state/country, and that there are no outstanding warrants against said license. The Renter further swears and attests that {he/she} has insurance that will cover the operation of this vehicle.

The Renter agrees not to allow any other person to drive the vehicle, except for authorized drivers listed.

The Renter agrees to use the vehicle only for routine, legal purposes (personal or business). The Renter further agrees to follow all city, state, county, and government rules and restrictions regarding use and operation of the vehicle.

The Renter agrees to hold harmless, indemnify, and release the Owner for any damages, injuries, property loss, or death caused while the Renter operates this vehicle. The Renter will be held accountable for any damages or cleaning fees incurred while renting the vehicle. The Renter has had the opportunity to inspect the vehicle before the renting term begins and confirms that it is in good operable condition.

The Owner swears and attests that the vehicle is in good working order and has no liens or encumbrances.
         </span>
        </div>
        <a class="waves-effect waves-light btn">Agree</a>
      </div>
    </div>

    </section>

    <% include ./partials/footer %>

  </body>
</html>
