<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>

    <% include ./partials/header %>

    <section class="container">
      <h1>Rent</h1>
        <form>
         <fieldset>
           <label for="target">Type Something:</label>
           <input id="target" type="text">
         </fieldset>
        </form>
          <button id="submit">
            Submit
          </button>
          <ol id="apiDiv">
          </ol>

       <div class="row">

            <div class="col s12 m4">
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="carMake" class="autocomplete">
                        <label for="autocomplete-input">Select Car Make</label>
                    </div>
                </div>
            </div>

            <div class="col s12 m4">

            </div>

        </div>

    </section>

    <% include ./partials/footer %>

  </body>
</html>
